

/*Style section for form*/
input{
	display: inline-block;
}
label{
	display: inline-block;
}

/*Hero section*/

.jumbotron{
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100%;
	width: 100vw;
}
.form{
	
}